@media only screen and (min-width: 871px) {
    html {
        font-size: 22px;
    }
}

@media only screen and (max-width: 870px) {
    html {
        font-size: 16px;
    }
}

body {
    display: grid;
    grid-template-areas: "header header"
                         "aboutMe pic"
                         "projects pic"
                         "skills pic";
    grid-template-columns: 4fr 3fr;
}

@media only screen and (min-width: 648px) {
    #smallNav {
        display: none;
    }
    nav ul li {
        display: inline;
        margin: 0.91rem;
        padding: 0.45rem;
        border: 2px solid black;
        border-radius: 0.32pem;
    }
        
}

@media only screen and (max-width: 647px) {
    nav ul {
        display: none;
    }
    
    #smallNav {
        grid-area: nav;
        width: 20px;
        height: 20px;
        display: inline;
        float: right;
        margin-right: 30px;
        background-color:silver;
        border: 2px solid black;
        border-radius: 5px;
    }

    #smallNav ul {
        display: none;
    }
}


header {
    grid-area: header;
    padding: 0 0.68rem;
    margin-left: -0.68rem;
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: white;
    border-bottom: 2px solid black;
}

h1 {
    display: inline;
    float: left;
}

nav {
    grid-area: nav;
    display: inline;
    float: right;
    margin: 0.68rem;
}

a {
    text-decoration: none;
    color: black;
}

#pic {
    grid-area: pic;
    display: grid;
}

#pic img {
    width: 50%;
    margin-top: 25%;
    justify-self: center;
}



#aboutMe {
    grid-area: aboutMe;
    margin-top: 15%;
}

#projects {
    grid-area: projects;

}

#skills {
    grid-area: skills;
}

#skills ul li {
    display: inline;
}

#skills ul li img {
    height: 2.27rem;
}
